In [1]:
# operations: merge, melt, dropna using Flights dataset
import pandas as pd

flights = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/flights.csv')

In [2]:
print(flights.head())
print(flights.info())
print(flights.describe())

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB
None
              year  passengers
count   144.000000  144.000000
mean   1954.500000  280.298611
std       3.464102  119.966317
min    1949.000000  104.000000
25%    1951.750000  180.000000
50%    1954.500000  265.500000
75%    1957.250000  360.500000
max    1960.000000  622.000000

In [3]:
# create year mapping DataFrame
year_map = pd.DataFrame({'year': [1949, 1950, 1951], 'era': ['post-war', 'post-war', 'boom']})

In [4]:
# merge
merged = pd.merge(flights, year_map, on='year', how='left')
print(merged.head())

   year     month  passengers       era
0  1949   January         112  post-war
1  1949  February         118  post-war
2  1949     March         132  post-war
3  1949     April         129  post-war
4  1949       May         121  post-war

In [5]:
# melt
melted = pd.melt(merged, id_vars=['year', 'month'], value_vars=['passengers'], var_name='metric', value_name='count')
print(melted.head())

   year     month      metric  count
0  1949   January  passengers    112
1  1949  February  passengers    118
2  1949     March  passengers    132
3  1949     April  passengers    129
4  1949       May  passengers    121

In [6]:
# dropna (none here, but we simulate)
melted.loc[0:2, 'count'] = pd.NA
dropped = melted.dropna(subset=['count'])
print(dropped.head())

   year   month      metric  count
3  1949   April  passengers  129.0
4  1949     May  passengers  121.0
5  1949    June  passengers  135.0
6  1949    July  passengers  148.0
7  1949  August  passengers  148.0